<%= link_to link_message, link %>

<form action="<%= action %>" method='post'> 
  <%= render 'shared/csrf' %>

  <label for='email'></label>
  <input 
    id='email' 
    type='text' 
    name='user[email]' 
    value="<%= @user.email %>" 
    placeholder="Email"
  >

  <label for='password'></label>
  <input 
    id='password' 
    type='password' 
    name='user[password]'
    placeholder='Password'
  >

  <input type='submit' value="<%= message %>">
</form>
