<!DOCTYPE html>
<html>
<head>
  <title>CommonApp</title>
  <%= javascript_include_tag 'application' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <% flash[:errors] && flash[:errors].each do |message| %>
    <p><%= message %></p>
  <% end %>

  <% flash[:messages] && flash[:messages].each do |message| %>
    <p><%= message %></p>
  <% end %>

  <%= yield %>

</body>
</html>
